on:
  push:
    branches: main

jobs:
  login:
    runs-on: ubuntu-latest
    container: golang:latest
    steps:
      - name: setup docker
        uses: docker-practice/actions-setup-docker@master

      - name: test docker
        run: |
          set -x
          docker version
          docker run --rm hello-world

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Install PostgreSQL client
        run: |
          apt-get update
          apt-get install -y postgresql-client

